# Ames Housing Data Kaggle Challenge

## Import Useful Libraries

In [63]:
import numpy as np #Numpy for math operations
from scipy.misc import imread, imsave, imresize #Scipy to change images
from sklearn import datasets  #Scikit-learn for machine learning and modeling
from sklearn import metrics 
from sklearn.tree import DecisionTreeClassifier
import pandas as pd #Pandas for reading and writing files
import matplotlib.pyplot as plt #Matplotlib to explore data with graphs
from pathlib import Path #to find file paths
import os #to get working directory
from sklearn.linear_model import LinearRegression #for a logistic regression function model
from sklearn.preprocessing import PolynomialFeatures 
from statistics import mean

## Import Data

In [4]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

## EDA

In [5]:
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [6]:
col_names = list(train_df.columns) #get column names
col_names

['Id',
 'MSSubClass',
 'MSZoning',
 'LotFrontage',
 'LotArea',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition',
 'SalePrice']

In [7]:
train_df.shape

(1460, 81)

In [8]:
train_df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
                  ...
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [9]:
NA_list = []
for i in col_names:
    col = train_df[i] #selects column
    num_NA = sum(col.isna()) #sums the number of NA values for selected column
    print("The number of NA values in the column ", i, " is: ", num_NA)
    if num_NA > 0:
        NA_list.append(i)

The number of NA values in the column  Id  is:  0
The number of NA values in the column  MSSubClass  is:  0
The number of NA values in the column  MSZoning  is:  0
The number of NA values in the column  LotFrontage  is:  259
The number of NA values in the column  LotArea  is:  0
The number of NA values in the column  Street  is:  0
The number of NA values in the column  Alley  is:  1369
The number of NA values in the column  LotShape  is:  0
The number of NA values in the column  LandContour  is:  0
The number of NA values in the column  Utilities  is:  0
The number of NA values in the column  LotConfig  is:  0
The number of NA values in the column  LandSlope  is:  0
The number of NA values in the column  Neighborhood  is:  0
The number of NA values in the column  Condition1  is:  0
The number of NA values in the column  Condition2  is:  0
The number of NA values in the column  BldgType  is:  0
The number of NA values in the column  HouseStyle  is:  0
The number of NA values in the column  OverallQual  is:  0
The number of NA values in the column  OverallCond  is:  0
The number of NA values in the column  YearBuilt  is:  0
The number of NA values in the column  YearRemodAdd  is:  0
The number of NA values in the column  RoofStyle  is:  0
The number of NA values in the column  RoofMatl  is:  0
The number of NA values in the column  Exterior1st  is:  0
The number of NA values in the column  Exterior2nd  is:  0
The number of NA values in the column  MasVnrType  is:  8
The number of NA values in the column  MasVnrArea  is:  8
The number of NA values in the column  ExterQual  is:  0
The number of NA values in the column  ExterCond  is:  0
The number of NA values in the column  Foundation  is:  0
The number of NA values in the column  BsmtQual  is:  37
The number of NA values in the column  BsmtCond  is:  37
The number of NA values in the column  BsmtExposure  is:  38
The number of NA values in the column  BsmtFinType1  is:  37
The number of NA values in the column  BsmtFinSF1  is:  0
The number of NA values in the column  BsmtFinType2  is:  38
The number of NA values in the column  BsmtFinSF2  is:  0
The number of NA values in the column  BsmtUnfSF  is:  0
The number of NA values in the column  TotalBsmtSF  is:  0
The number of NA values in the column  Heating  is:  0
The number of NA values in the column  HeatingQC  is:  0
The number of NA values in the column  CentralAir  is:  0
The number of NA values in the column  Electrical  is:  1
The number of NA values in the column  1stFlrSF  is:  0
The number of NA values in the column  2ndFlrSF  is:  0
The number of NA values in the column  LowQualFinSF  is:  0
The number of NA values in the column  GrLivArea  is:  0
The number of NA values in the column  BsmtFullBath  is:  0
The number of NA values in the column  BsmtHalfBath  is:  0
The number of NA values in the column  FullBath  is:  0
The number of NA values in the column  HalfBath  is:  0
The number of NA values in the column  BedroomAbvGr  is:  0
The number of NA values in the column  KitchenAbvGr  is:  0
The number of NA values in the column  KitchenQual  is:  0
The number of NA values in the column  TotRmsAbvGrd  is:  0
The number of NA values in the column  Functional  is:  0
The number of NA values in the column  Fireplaces  is:  0
The number of NA values in the column  FireplaceQu  is:  690
The number of NA values in the column  GarageType  is:  81
The number of NA values in the column  GarageYrBlt  is:  81
The number of NA values in the column  GarageFinish  is:  81
The number of NA values in the column  GarageCars  is:  0
The number of NA values in the column  GarageArea  is:  0
The number of NA values in the column  GarageQual  is:  81
The number of NA values in the column  GarageCond  is:  81
The number of NA values in the column  PavedDrive  is:  0
The number of NA values in the column  WoodDeckSF  is:  0
The number of NA values in the column  OpenPorchSF  is:  0
The number of NA values in the column  EnclosedPorch  is:  0
The number of NA values in the column  3SsnPorch  is:  0
The number of NA values in the column  ScreenPorch  is:  0
The number of NA values in the column  PoolArea  is:  0
The number of NA values in the column  PoolQC  is:  1453
The number of NA values in the column  Fence  is:  1179
The number of NA values in the column  MiscFeature  is:  1406
The number of NA values in the column  MiscVal  is:  0
The number of NA values in the column  MoSold  is:  0
The number of NA values in the column  YrSold  is:  0
The number of NA values in the column  SaleType  is:  0
The number of NA values in the column  SaleCondition  is:  0
The number of NA values in the column  SalePrice  is:  0

In [37]:
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [10]:
test_df.shape

(1459, 80)

In [11]:
test_df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
                  ...
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars       float64
GarageArea       float64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
Length: 80, dtype: object

In [12]:
col_names = list(test_df.columns) #get column names
for i in col_names:
    col = test_df[i] #selects column
    num_NA = sum(col.isna()) #sums the number of NA values for selected column
    print("The number of NA values in the column ", i, " is: ", num_NA)
    if num_NA > 0 and i not in NA_list:
        NA_list.append(i)

The number of NA values in the column  Id  is:  0
The number of NA values in the column  MSSubClass  is:  0
The number of NA values in the column  MSZoning  is:  4
The number of NA values in the column  LotFrontage  is:  227
The number of NA values in the column  LotArea  is:  0
The number of NA values in the column  Street  is:  0
The number of NA values in the column  Alley  is:  1352
The number of NA values in the column  LotShape  is:  0
The number of NA values in the column  LandContour  is:  0
The number of NA values in the column  Utilities  is:  2
The number of NA values in the column  LotConfig  is:  0
The number of NA values in the column  LandSlope  is:  0
The number of NA values in the column  Neighborhood  is:  0
The number of NA values in the column  Condition1  is:  0
The number of NA values in the column  Condition2  is:  0
The number of NA values in the column  BldgType  is:  0
The number of NA values in the column  HouseStyle  is:  0
The number of NA values in the column  OverallQual  is:  0
The number of NA values in the column  OverallCond  is:  0
The number of NA values in the column  YearBuilt  is:  0
The number of NA values in the column  YearRemodAdd  is:  0
The number of NA values in the column  RoofStyle  is:  0
The number of NA values in the column  RoofMatl  is:  0
The number of NA values in the column  Exterior1st  is:  1
The number of NA values in the column  Exterior2nd  is:  1
The number of NA values in the column  MasVnrType  is:  16
The number of NA values in the column  MasVnrArea  is:  15
The number of NA values in the column  ExterQual  is:  0
The number of NA values in the column  ExterCond  is:  0
The number of NA values in the column  Foundation  is:  0
The number of NA values in the column  BsmtQual  is:  44
The number of NA values in the column  BsmtCond  is:  45
The number of NA values in the column  BsmtExposure  is:  44
The number of NA values in the column  BsmtFinType1  is:  42
The number of NA values in the column  BsmtFinSF1  is:  1
The number of NA values in the column  BsmtFinType2  is:  42
The number of NA values in the column  BsmtFinSF2  is:  1
The number of NA values in the column  BsmtUnfSF  is:  1
The number of NA values in the column  TotalBsmtSF  is:  1
The number of NA values in the column  Heating  is:  0
The number of NA values in the column  HeatingQC  is:  0
The number of NA values in the column  CentralAir  is:  0
The number of NA values in the column  Electrical  is:  0
The number of NA values in the column  1stFlrSF  is:  0
The number of NA values in the column  2ndFlrSF  is:  0
The number of NA values in the column  LowQualFinSF  is:  0
The number of NA values in the column  GrLivArea  is:  0
The number of NA values in the column  BsmtFullBath  is:  2
The number of NA values in the column  BsmtHalfBath  is:  2
The number of NA values in the column  FullBath  is:  0
The number of NA values in the column  HalfBath  is:  0
The number of NA values in the column  BedroomAbvGr  is:  0
The number of NA values in the column  KitchenAbvGr  is:  0
The number of NA values in the column  KitchenQual  is:  1
The number of NA values in the column  TotRmsAbvGrd  is:  0
The number of NA values in the column  Functional  is:  2
The number of NA values in the column  Fireplaces  is:  0
The number of NA values in the column  FireplaceQu  is:  730
The number of NA values in the column  GarageType  is:  76
The number of NA values in the column  GarageYrBlt  is:  78
The number of NA values in the column  GarageFinish  is:  78
The number of NA values in the column  GarageCars  is:  1
The number of NA values in the column  GarageArea  is:  1
The number of NA values in the column  GarageQual  is:  78
The number of NA values in the column  GarageCond  is:  78
The number of NA values in the column  PavedDrive  is:  0
The number of NA values in the column  WoodDeckSF  is:  0
The number of NA values in the column  OpenPorchSF  is:  0
The number of NA values in the column  EnclosedPorch  is:  0
The number of NA values in the column  3SsnPorch  is:  0
The number of NA values in the column  ScreenPorch  is:  0
The number of NA values in the column  PoolArea  is:  0
The number of NA values in the column  PoolQC  is:  1456
The number of NA values in the column  Fence  is:  1169
The number of NA values in the column  MiscFeature  is:  1408
The number of NA values in the column  MiscVal  is:  0
The number of NA values in the column  MoSold  is:  0
The number of NA values in the column  YrSold  is:  0
The number of NA values in the column  SaleType  is:  1
The number of NA values in the column  SaleCondition  is:  0

There are lots of columns with missing data. A good question to ask may be if we can simply replace missing values with zeros, as some variables seem to be continuous and missing values may apply to houses that simply do not have this particular attribute, in which case a '0' would also be fitting. This would allow us to keep more columns.

Perhaps consider forward subset selection or LASSO given that this data set is somewhat wide. Otherwise, regression seems like a good tactic since we will be trying to predict on a continuous variable.

Alley, PoolQC, MiscFeature, Fence, and FireplaceQu have significant numbers missing. Consider dropping these variables.

Any 'Quality' and 'Condition' variables are object type variables, some with missing data. Consider converting into factor or numeric and using classification model to fill in the missing data.

Use regression models to fill in missing data for continuous variables or use mean value

## Fill in and Replace NAs

Let's do this, we will create an "Other" category for some of our missing data, fill in continuous missing data with averages (group the data by area or neighborhood for some of these).

Let's combine the train and test data together so that after replacing all the NA values and creating the dummy variables their shape is the same for creating our models.

In [13]:
#combine data sets

data = pd.concat([train_df, test_df], sort = False, axis = 0)
data.shape

(2919, 81)

In [14]:
NA_list

['LotFrontage',
 'Alley',
 'MasVnrType',
 'MasVnrArea',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Electrical',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'MSZoning',
 'Utilities',
 'Exterior1st',
 'Exterior2nd',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'BsmtFullBath',
 'BsmtHalfBath',
 'KitchenQual',
 'Functional',
 'GarageCars',
 'GarageArea',
 'SaleType']

In [15]:
#drop variables
bad_vars = ["MiscFeature", "Fence", "PoolQC", "Alley"]
data = data.drop(columns = bad_vars)

In [16]:
#get rid of bad vars from NA list
for i in bad_vars:
    NA_list.remove(i)
print(NA_list)

['LotFrontage', 'MasVnrType', 'MasVnrArea', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageQual', 'GarageCond', 'MSZoning', 'Utilities', 'Exterior1st', 'Exterior2nd', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath', 'KitchenQual', 'Functional', 'GarageCars', 'GarageArea', 'SaleType']

In [17]:
#separate these into categorical and numerical variables
cat = []
num = []
for i in NA_list:
    if data[i].dtype == np.int64 or data[i].dtype == np.float64:
        num.append(i)
    if data[i].dtype == np.object:
        cat.append(i)

In [18]:
print(cat)

['MasVnrType', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Electrical', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'MSZoning', 'Utilities', 'Exterior1st', 'Exterior2nd', 'KitchenQual', 'Functional', 'SaleType']

Many of these categorical variables can have missing data assigned to an "Other" category. However, "MSZoning" can be intuitively conclude from the "MSSubclass". So, we will group by "MSSubclass" and replace NA values in "MSZoning" with the most used category for that subclass

In [19]:
cat.remove("MSZoning")

for i in cat:
    data[i].fillna("Other", inplace = True)
    
data['MSZoning'] = data.groupby('MSSubClass')['MSZoning'].transform(lambda x: x.fillna(x.mode()[0]))

In [20]:
data[cat].isnull().sum()

MasVnrType      0
BsmtQual        0
BsmtCond        0
BsmtExposure    0
BsmtFinType1    0
BsmtFinType2    0
Electrical      0
FireplaceQu     0
GarageType      0
GarageFinish    0
GarageQual      0
GarageCond      0
Utilities       0
Exterior1st     0
Exterior2nd     0
KitchenQual     0
Functional      0
SaleType        0
dtype: int64

In [21]:
data["MSZoning"].isnull().sum()

0

In [22]:
print(num)

['LotFrontage', 'MasVnrArea', 'GarageYrBlt', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath', 'GarageCars', 'GarageArea']

For some of these numeric variables with missing data, data entry is omitted when there are not instances of a certain quality. For example, not all houses have basements and so NA values are entered for BsmtFinSF1 and so forth. Therefore we can simply enter zero for those. For LotFrontage, we will use mean size for the neighborhood in which it is based

In [23]:
#num.remove("LotFrontage")
for i in num:
    print(i)
    data[i].fillna(0, inplace = True)

data['LotFrontage'] = data.groupby('Neighborhood')['LotFrontage'].transform(lambda x: x.fillna(x.mean()))

LotFrontage
MasVnrArea
GarageYrBlt
BsmtFinSF1
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
BsmtFullBath
BsmtHalfBath
GarageCars
GarageArea

In [24]:
data[num].isnull().sum()

LotFrontage     0
MasVnrArea      0
GarageYrBlt     0
BsmtFinSF1      0
BsmtFinSF2      0
BsmtUnfSF       0
TotalBsmtSF     0
BsmtFullBath    0
BsmtHalfBath    0
GarageCars      0
GarageArea      0
dtype: int64

In [25]:
data["LotFrontage"].isnull().sum()

0

In [26]:
data.isnull().any().any()

True

In [27]:
col_names = list(data.columns) #get column names
for i in col_names:
    col = data[i] #selects column
    num_NA = sum(col.isna()) #sums the number of NA values for selected column
    print("The number of NA values in the column ", i, " is: ", num_NA)
    #if num_NA > 0 and i not in NA_list:
     #   NA_list.append(i)

The number of NA values in the column  Id  is:  0
The number of NA values in the column  MSSubClass  is:  0
The number of NA values in the column  MSZoning  is:  0
The number of NA values in the column  LotFrontage  is:  0
The number of NA values in the column  LotArea  is:  0
The number of NA values in the column  Street  is:  0
The number of NA values in the column  LotShape  is:  0
The number of NA values in the column  LandContour  is:  0
The number of NA values in the column  Utilities  is:  0
The number of NA values in the column  LotConfig  is:  0
The number of NA values in the column  LandSlope  is:  0
The number of NA values in the column  Neighborhood  is:  0
The number of NA values in the column  Condition1  is:  0
The number of NA values in the column  Condition2  is:  0
The number of NA values in the column  BldgType  is:  0
The number of NA values in the column  HouseStyle  is:  0
The number of NA values in the column  OverallQual  is:  0
The number of NA values in the column  OverallCond  is:  0
The number of NA values in the column  YearBuilt  is:  0
The number of NA values in the column  YearRemodAdd  is:  0
The number of NA values in the column  RoofStyle  is:  0
The number of NA values in the column  RoofMatl  is:  0
The number of NA values in the column  Exterior1st  is:  0
The number of NA values in the column  Exterior2nd  is:  0
The number of NA values in the column  MasVnrType  is:  0
The number of NA values in the column  MasVnrArea  is:  0
The number of NA values in the column  ExterQual  is:  0
The number of NA values in the column  ExterCond  is:  0
The number of NA values in the column  Foundation  is:  0
The number of NA values in the column  BsmtQual  is:  0
The number of NA values in the column  BsmtCond  is:  0
The number of NA values in the column  BsmtExposure  is:  0
The number of NA values in the column  BsmtFinType1  is:  0
The number of NA values in the column  BsmtFinSF1  is:  0
The number of NA values in the column  BsmtFinType2  is:  0
The number of NA values in the column  BsmtFinSF2  is:  0
The number of NA values in the column  BsmtUnfSF  is:  0
The number of NA values in the column  TotalBsmtSF  is:  0
The number of NA values in the column  Heating  is:  0
The number of NA values in the column  HeatingQC  is:  0
The number of NA values in the column  CentralAir  is:  0
The number of NA values in the column  Electrical  is:  0
The number of NA values in the column  1stFlrSF  is:  0
The number of NA values in the column  2ndFlrSF  is:  0
The number of NA values in the column  LowQualFinSF  is:  0
The number of NA values in the column  GrLivArea  is:  0
The number of NA values in the column  BsmtFullBath  is:  0
The number of NA values in the column  BsmtHalfBath  is:  0
The number of NA values in the column  FullBath  is:  0
The number of NA values in the column  HalfBath  is:  0
The number of NA values in the column  BedroomAbvGr  is:  0
The number of NA values in the column  KitchenAbvGr  is:  0
The number of NA values in the column  KitchenQual  is:  0
The number of NA values in the column  TotRmsAbvGrd  is:  0
The number of NA values in the column  Functional  is:  0
The number of NA values in the column  Fireplaces  is:  0
The number of NA values in the column  FireplaceQu  is:  0
The number of NA values in the column  GarageType  is:  0
The number of NA values in the column  GarageYrBlt  is:  0
The number of NA values in the column  GarageFinish  is:  0
The number of NA values in the column  GarageCars  is:  0
The number of NA values in the column  GarageArea  is:  0
The number of NA values in the column  GarageQual  is:  0
The number of NA values in the column  GarageCond  is:  0
The number of NA values in the column  PavedDrive  is:  0
The number of NA values in the column  WoodDeckSF  is:  0
The number of NA values in the column  OpenPorchSF  is:  0
The number of NA values in the column  EnclosedPorch  is:  0
The number of NA values in the column  3SsnPorch  is:  0
The number of NA values in the column  ScreenPorch  is:  0
The number of NA values in the column  PoolArea  is:  0
The number of NA values in the column  MiscVal  is:  0
The number of NA values in the column  MoSold  is:  0
The number of NA values in the column  YrSold  is:  0
The number of NA values in the column  SaleType  is:  0
The number of NA values in the column  SaleCondition  is:  0
The number of NA values in the column  SalePrice  is:  1459

## Create Dummies for Categorical Variables

In [28]:
# use pd.get_dummies() for all of these categorical variables
dummies_df = pd.DataFrame()
for i in col_names:
    if data[i].dtype == np.object:
        dummies_df = pd.concat([dummies_df, pd.get_dummies(data[i])], axis=1)

In [29]:
#have missing values been replaced with zeros?
dummies_df.isnull().any().any() #isnull() checks each value if NA, first any() checks columns and returns boolean for each column if there are NAs, second any() returns one boolean if there are any NAs at all

False

In [30]:
# drop object variables since we now have dummy variables
for i in col_names:
    if data[i].dtype == np.object:
        data = data.drop(columns = i)

In [31]:
data = pd.concat([data, dummies_df], axis = 1)

In [38]:
train_df = data.iloc[:1460]
test_df = data.iloc[1460:]

## Modeling Techniques

Given that our data set isn't particularly wide, discriminatory regression techniques shouldn't be all that necessary. However, for shits and giggles let's do a LASSO model. But first, we shall begin with a fairly simply linear regression model and then try a polynomial regression model. We do a form of cross-validation and will compare MSE in order to determine which model seems like the best path to follow.

### Linear Model

In [79]:
#let's do leave one out CV with 10 folds
folds = list(range(0, 1460, 146))
MSEs = []
Percs = []
for i in folds:
    test = train_df.iloc[i:i+146]
    test_x = test.drop(columns = "SalePrice")
    test_y = test["SalePrice"]
    train = train_df.drop(train_df.index[list(range(i,i+146))])
    train_x = train.drop(columns = "SalePrice")
    train_y = train["SalePrice"]
    lin_mod = LinearRegression().fit(train_x, train_y)
    lin_pred = lin_mod.predict(test_x) #returns a numpy array so can't use pandas indexing and what not
    err = []
    percent = []
    for i in range(0, len(lin_pred)):
        #print(test_y.iloc[i], lin_pred[i]) #how to index pandas and numpy array for rows
        err.append((test_y.iloc[i]-lin_pred[i])**2)
        percent.append((lin_pred[i]/test_y.iloc[i])*100) #what percent is the prediction of the actual price
    MSEs.append(mean(err))
    Percs.append(mean(percent))

print(mean(Percs), mean(MSEs)/10000000000) #our MSE is huge because our error greater than one, even if it may only be off by a few percent of the actual

100.83641596476585 0.12020039271267405

It would appear that on average, our predicted sale price in our cross validation is roughly one percent higher than the actuall price. The mean squared error is deceptively large in this instance due to that fact that the error, while being relatively small, is much greater than 1 due to the fact that we are predicting on such large numbers. In any case, I feel that this is promising. Note that our method of cross validation has very large training data compared to testing. This could influence the result of CV to make the model appear more accurate. It could be worth investigating train and test data that are more similar sizes.

In [98]:
#Now to build model and fit data
#first get the data ready
train_x = train_df.drop(columns = "SalePrice")
train_y = train_df["SalePrice"]
test_x = test_df.drop(columns = "SalePrice")

#define the model and fit the data
lin_mod = LinearRegression().fit(train_x, train_y)

#predict with test inputs
lin_pred = lin_mod.predict(test_x) #returns as numpy array so will have to change to pandas to write to csv

lin_pred = pd.DataFrame(lin_pred, columns = ["SalePrice"])
result = pd.concat([test_df["Id"],  lin_pred], axis = 1)
#result.to_csv("PythonResult.csv")

### Polynomial Model

In [100]:
degrees = range(2, 293)
folds = list(range(0, 1460, 146))
MSEs = []
Percs = []
for d in degrees:
    deg_mse = []
    deg_perc = []
    for i in folds:
        #separate data into inputs and outputs
        test = train_df.iloc[i:i+146]
        test_x = test.drop(columns = "SalePrice")
        test_y = test["SalePrice"]
        train = train_df.drop(train_df.index[list(range(i,i+146))])
        train_x = train.drop(columns = "SalePrice")
        train_y = train["SalePrice"]
        #transform into polynomial
        poly = PolynomialFeatures(degree = d) 
        X_poly = poly.fit_transform(train_x)
        poly.fit(X_poly, train_y)
        poly_mod = LinearRegression().fit(X_poly, train_y)
        poly_pred = poly_mod.predict(poly.fit_transform(test_x)) #returns a numpy array so can't use pandas indexing and what not
        err = []
        percent = []
        for i in range(0, len(lin_pred)):
            #print(test_y.iloc[i], lin_pred[i]) #how to index pandas and numpy array for rows
            err.append((test_y.iloc[i]-lin_pred[i])**2)
            percent.append((lin_pred[i]/test_y.iloc[i])*100) #what percent is the prediction of the actual price
        deg_mse.append(mean(err))
        deg_per.append(mean(percent))
    MSEs.append(mean(deg_mse))
    Percs.append(mean(deg_perc))

KeyError: 0

Splitting the dataset into the Training set and Test set

from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [102]:
test = train_df.iloc[i:i+146]
test_x = test.drop(columns = "SalePrice")
test_y = test["SalePrice"]
train = train_df.drop(train_df.index[list(range(i,i+146))])
train_x = train.drop(columns = "SalePrice")
train_y = train["SalePrice"]


poly_reg = PolynomialFeatures(degree=4)

X_poly = poly_reg.fit_transform(train_x)

pol_reg = LinearRegression().fit(X_poly, y)

#pol_reg.fit(X_poly, y)

pol_reg.predict(poly_reg.fit_transform(test_x))

MemoryError: